.wrapper {
  display: grid;
  grid-auto-flow: row;
  row-gap: 80px;
  overflow-x: clip;
  margin-bottom: var(--margin-section-xl);

  @media (max-width: 992px) {
    margin-bottom: var(--margin-section-lg);
    gap: 60px;
  }

  @media (max-width: 768px) {
    margin-bottom: var(--margin-section-md);
    gap: 40px;
  }

  @media (max-width: 576px) {
    gap: 20px;
  }

  @media (max-width: 376px) {
    margin-bottom: var(--margin-section-xs);
  }

  .title_wrapper {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .title {
      font-size: var(--font-size-title-main-xl);
      text-align: center;
      color: var(--color-dark-grey);
      font-weight: 600;
      line-height: 1;

      @media (max-width: 992px) {
        font-size: var(--font-size-title-main-lg);
      }

      @media (max-width: 768px) {
        font-size: var(--font-size-title-main-md);
      }

      @media (max-width: 376px) {
        font-size: var(--font-size-title-main-xs);
      }
    }

    .categories {
      display: grid;
      grid-auto-flow: column;
      justify-content: center;
      justify-items: stretch;
      align-items: center;

      @media (max-width: 768px) {
        svg {
          width: 20px;
          height: 20px;
        }
      }

      @media (max-width: 576px) {
        display: none;
      }

      >span {
        color: var(--color-dark-grey);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-size: 16px;

        @media (max-width: 992px) {
          font-size: 14px;
        }

        @media (max-width: 768px) {
          font-size: 10px;
        }
      }
    }
  }

  .information {
    display: grid;
    row-gap: 50px;

    @media (max-width: 992px) {
      grid-template: none;
      grid-auto-flow: row;
    }

    .content__wrapper {
      display: flex;
      flex-direction: row;
      gap: 40px;
      align-items: center;
      opacity: 0;

      @media (max-width: 992px) {
        grid-template: none;
        flex-direction: column-reverse;
        gap: 60px;
      }

      @media (max-width: 768px) {
        gap: 40px;
      }
    
      @media (max-width: 576px) {
        gap: 40px;
      }

      &.no_hidden {
        opacity: 1;
        animation: growIn 1s ease-in forwards;
      }

      &.hidden {
        opacity: 0;
        animation: shrinkOut 1s ease-in forwards;
      }

      .right {
        position: relative;

        .big {
          margin-bottom: auto;
          width: 100%;
          height: 50vw;
          max-height: 500px;
          border-radius: 999px;
          overflow: hidden;

          @media (max-width: 992px) {
            height: 70vw;
            width: 70vw;
            max-height: none;
            margin-left: auto;
            border: 3px solid var(--color-green);
          }

          @media (max-width: 376px) {
            height: 85vw;
            width: 85vw;
            max-height: none;
            margin-left: auto;
          }

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 999px;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.2);
            border: 3px solid var(--color-green);

            @media (max-width: 992px) {
              display: none;
            }
          }

          .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .small {
          position: absolute;
          bottom: -40px;
          left: -40px;

          width: 15vw;
          max-width: 300px;
          height: 15vw;
          max-height: 300px;
          border-radius: 999px;
          border: 6px solid var(--color-green);
          overflow: hidden;

          @media (max-width: 992px) {
            bottom: -20px;
            left: 0px;

            height: 30vw;
            width: 30vw;
            max-height: none;
            margin-left: auto;
          }

          @media (max-width: 376px) {
            bottom: -10px;
            left: 0px;

            height: 30vw;
            width: 30vw;
            max-height: none;
            margin-left: auto;
          }

          .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .left {
        display: grid;
        grid-auto-flow: row;
        row-gap: 50px;
        max-width: 40%;

        @media (max-width: 992px) {
          max-width: 100%;
          gap: 60px;
        }
  
        @media (max-width: 768px) {
          gap: 40px;
        }
      
        @media (max-width: 576px) {
          gap: 20px;
        }

        >p {
          font-size: var(--font-size-text-secondary-xl);
          font-weight: 400;
          color: var(--color-dark-grey);
          line-height: normal;
          font-style: normal;

          @media (max-width: 992px) {
            font-size: var(--font-size-text-secondary-lg);
            text-align: center;
          }
        
          @media (max-width: 768px) {
            font-size: var(--font-size-text-secondary-md);
          }
        
          @media (max-width: 576px) {
            font-size: 12px;
          }
        }

        .order__wrapper {
          display: grid;
          justify-content: flex-start;
        
          @media (max-width: 992px) {
            justify-content: center;
          }
        
          .order {
            border-radius: 12px;
            background: var(--color-green);
            padding: 15px 30px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: var(--color-white);
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            display: grid;
            grid-auto-flow: column;
            justify-content: center;
            align-items: center;
            gap: 15px;

            @media (max-width: 576px) {
              font-size: 12px;
              padding: 15px 20px;
            }
        
            &:hover {
              transform: scale(1.015);
            }
        
            &:active {
              transform: scale(0.95);
            }

            >svg {
              transform: rotate(-90deg);
              margin-bottom: 2px;
            }
          }
        
          &.mobile {
            display: none;
        
            @media (max-width: 992px) {
              display: grid;
            }
          }
        }
      }
    }
    
  }
}


@keyframes growIn {
  0% {
    opacity: 0;
    transform: scale(0.75);
    filter: blur(2px); // Начальное состояние: размытие 10px
  }

  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0); // Начальное состояние: размытие 10px
  }
}

@keyframes shrinkOut {
  0% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0); // Начальное состояние: размытие 10px
  }

  100% {
    opacity: 0;
    transform: scale(0.75);
    filter: blur(2px); // Начальное состояние: размытие 10px
  }
}